.task {
    padding: 10px 15px;
    background-color: #fff;
    border: @taskBorder;
    margin-bottom: -1px;
    margin-top: 0;
    overflow: hidden;
}

.task-done {
  color: #777;
  background-color: #eee;

  label {
    text-decoration: line-through;
  }
}

.task-checkbox {
  margin: 0;
}
